<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
       <!-- register alieas to reduce verbosity -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="IOutputFormatter"
           type="Primes.IOutputFormatter, Primes" />
      <typeAlias alias="IPrimeGenerator"
                 type="Primes.IPrimeGenerator, Primes" />
    </typeAliases>

    <containers>
      <container>
        <types>          
          <type type="Primes.ConsoleReport, Primes">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <!-- TODO 2.1 define constructor and property configuraiton -->
              <constructor>
                <param name="outputFormatter" parameterType="IOutputFormatter"/>
                <param name="primeGenerator" parameterType="IPrimeGenerator"/>
              </constructor>
              <property name="MaxNumber" propertyType="System.Int32, mscorlib">
                <value value="1000" type="System.Int32"/>
              </property>
            </typeConfig>
          </type>
          
          <!-- TODO 2.2 define type mapping for IOutputFormatter -->
          <type type="IOutputFormatter" mapTo="Primes.OutputFormatter, Primes">
            <lifetime type="singleton" />
          </type>
          
          <!-- TODO 2.3 define type mapping for IPrimeGenerator -->
          <type type="IPrimeGenerator" mapTo="Primes.PrimeGenerator, Primes">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="primeEvaluationEngine" parameterType="Primes.PrimeEvaluationEngine, Primes"/>
              </constructor>
            </typeConfig>
          </type>
          
          <!-- TODO 2.4 -->
          <type type="Primes.PrimeEvaluationEngine, Primes"/>            
          
        </types>
      </container>
    </containers>
  </unity>

</configuration>